.footer {
    background: #0E1D28;
    padding: 75px 0;
}

.footer__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer__logo {
    width: 50%;
}

.footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 50%;
}

.footer__menu-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 24px;
    margin-bottom: 20px;
    color: white;
}

.footer__menu-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: white;
}

.footer__menu-link:hover,
.footer__menu-link:focus,
.footer__menu-link:active {
    color: #e3a062;
}
.copyright{
    color: white;
    font-size: 12px;
    margin-top: 50px;
}
@media screen and (max-width: 960px) {

    .footer {
        padding: 60px 0;
    }
}

@media screen and (max-width: 767px) {

    .footer__logo {
        width: 100%;
        margin-bottom: 24px;
    }

    .footer__nav {
        width: 100%;
    }

    .footer__menu {
        width: 50%;
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 960px) {

    .footer__menu-link {
        font-size: 12px;
    }
}